nav {
    background-color: #1c74c6;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 16px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #e0ffff;
}

.informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form h2 {
    text-align: center;
}

.principal a {
    color: inherit;
}

.sub-text {
    color: #4C4C5B;
    max-width: 500px;
}

.light-text {
    font-size: 0.8em;
    color: #4C4C5B;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.solicitudes {
    width: 800px;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
}

form {
    background-color: #FFF;
    /* Centra el form en la página */
    margin: 0 auto;
    width: 600px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

label {
    /* Tamaño y alineación uniformes */
    display: inline-block;
    width: 200px;
    text-align: right;
}

input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

textarea {
    vertical-align: top;
    /* espacio para texto */
    height: 5em;
}

button {
    /* alinea el botón con los campos del formulario */
    margin-left: calc(200px + 0.5em);
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover,
button:focus {
    outline: none;
    background: #000;
    color: #fff;
}